/.DS_Store
/Pods
*.xcuserstate
/MarsRoverPhotos.xcworkspace/xcuserdata/jonathanmccormick.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/MarsRoverPhotos.xcodeproj/xcuserdata/jonathanmccormick.xcuserdatad/xcschemes/xcschememanagement.plist
/Podfile.lock
